<!DOCTYPE html>
<html>
<head>
<meta charset=""ISO-8859-1">
<title>Cadastrando Cidade</title>
</head>
<body>
	<h1>Cadastro da Cidade De <%%></h1>
	<form method="POST">
		<input name="id_cidade" type="hidden" value=""> 
		<input name="id_pessoa" type="hidden" value="">
		<h3>Digite o nome da Cidade</h3>
		<br> <input name="nome" type="text" value="">
		<h3>Digite o nome do Estado</h3>
		<br> <input name="estado" type="text" value="">
		<input type="button" value="Enviar" onclick="window.location.href='http://localhost:8080/CrudWeb03Estudos//SearchServelet'" />
	</form>
</body>
</html>