<!DOCTYPE html>
<html>
<head>
<meta charset=""ISO-8859-1">
<title>Cadastrando Cidade</title>
</head>
<body>
   <table style="border: 3px solid black;">
	<th><h3>Cadastro da Cidade De <%%></h3></th>
	</table>
	<table>
	
	<form method="POST">
		<input name="id_cidade" type="hidden" value=""> 
		<input name="id_pessoa" type="hidden" value="">
		<h4>Digite o nome da Cidade</h4>
		<input name="nome_cidade" type="text" value="">
		<h4>Digite o nome do Estado</h4>
		<input name="estado" type="text" value="">
		<br><input  type="submit" name="enviar" value="Enviar">
	</form>
	</table>
</body>
</html>