<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Deletar Cadastro</title>
</head>
<body>
<center>

		<h1>Deseja confirmar a exclução? </h1>
		<h2> Dados Cadastrados de : <%1%>  </h2>
		<table style="border: 3px solid black;">
			<thead>
				<tr style="border: 3px solid black;">
				    <th style="border: 2px solid black;">Id_pessoa</th>
					<th style="border: 2px solid black;">Nome</th>
					<th style="border: 2px solid black;">Sexo</th>
					<th style="border: 2px solid black;">Nascimento</th>
					<th style="border: 2px solid black;">CPF</th>
					<th style="border: 2px solid black;">Senha</th>
					<th style="border: 2px solid black;">End_Rua</th>s
					<th style="border: 2px solid black;">End_Bairro</th>
					<th style="border: 2px solid black;">End_numero</th>
					<th style="border: 2px solid black;">End_complemento</th> 
				</tr>
			</thead>
			<tbody>
				<%tabelaPessoa%>
			</tbody>
		</table>
		
	
		<br><table style="border: 3px solid black;">
			<thead>
				<tr style="border: 1px solid black;">
					<th style="border: 1px solid black;">Id_Cidade</th>
					<th style="border: 1px solid black;">Nome_cidade</th>
					<th style="border: 1px solid black;">Estado</th>
				</tr>
			</thead>
			<tbody>
				<%tabelaCidade%>
			</tbody>
		</table>
		<br><br><input type="button" value="Cancelar" onclick="window.location.href='http://localhost:8080/CrudWed_1VAProgIII/SearchServelet'" />
	    <form action="#?idpessoa=<%idpessoa%>" method = "POST" >
		
		<br><input type="submit" value="Confirmar" />
		
		</form>
	</center>
</body>
</html>