<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Dados da Cidade</title>
</head>
<body>
</form>
		<h3>CrudWeb 1VA</h3>
		<h1> Informações da Cidade De <%%></h1>
		<table style="border: 1px solid black;">
			<thead>
				<tr style="border: 1px solid black;">
					<th style="border: 1px solid black;">Id_Cidade</th>
					<th style="border: 1px solid black;">Nome</th>
					<th style="border: 1px solid black;">Estado</th>
				</tr>
			</thead>
			<tbody>
				<%%>
			</tbody>
		</table>
		<br><br><input type="button" value="Voltar" onclick="window.location.href='http://localhost:8080/CrudWeb03Estudos/SearchServelet'" />
	</center>
</body>
</html>