<!DOCTYPE html>
<html>
<head>
<meta charset=""ISO-8859-1">
<title>Inserir Cadastro</title>
</head>
<body>
	<center>
		<form method="post">
		     
			<label> Pesquisar  </label><input type="text" name="pesq"> <br> <input
				type="submit">
		</form>
		<h3>CrudWeb 1VA</h3>
		<table style="border: 1px solid black;">
			<thead>
				<tr style="border: 1px solid black;">
					<th style="border: 1px solid black;">Nome</th>
					<th style="border: 1px solid black;">Sexo</th>
					<th style="border: 1px solid black;">Nascimento</th>
					<th style="border: 1px solid black;">CPF</th>
					<th style="border: 1px solid black;">Senha</th>
					<th style="border: 1px solid black;">End_Rua</th>s
					<th style="border: 1px solid black;">End_Bairro</th>
					<th style="border: 1px solid black;">End_complemento</th>
					<th style="border: 1px solid black;"> Editar</th>
					<th style="border: 1px solid black;"> Deletar </th> 
					<th style="border: 1px solid black;"> Exibir Cidade </th> 
				</tr>
			</thead>
			<tbody>
				<%%>
			</tbody>
		</table>
		<br><br><input type="button" value="Novo Cadastro" onclick="window.location.href='http://localhost:8080/CrudWeb03Estudos/CadastroServelet'" />
	</center>

</body>
</html>