<!DOCTYPE html>
<html>
<head>
<meta charset=""ISO-8859-1">
<title>HOME</title>
</head>
<body>
	<center>
		<form method="post">
		     <h1>CrudWeb 1VA</h1>
			<br><label>Procurar </label><input type="text" name="pesq"><br> <input
				type="submit">
		</form>
		
		<table style="border: 4px solid black;">
			<thead>
				<tr style="border: 1px solid black;">
					<th style="border: 2px solid black;">Nome</th>
					<th style="border: 2px solid black;">Sexo</th>
					<th style="border: 2px solid black;">Nascimento</th>
					<th style="border: 2px solid black;">CPF</th>
					<th style="border: 2px solid black;">Senha</th>
					<th style="border: 2px solid black;">End_Rua</th>s
					<th style="border: 2px solid black;">End_Bairro</th>
					<th style="border: 2px solid black;">End_numero</th>
					<th style="border: 2px solid black;">End_complemento</th>
					<th style="border: 2px solid black;"> Editar</th>
					<th style="border: 2px solid black;"> Deletar </th> 
					<th style="border: 2px solid black;"> Exibir Cidade </th> 
				</tr>
			</thead>
			<tbody>
				<%%>
			</tbody>
		</table>
		<br><input type="button" value="Novo Cadastro" onclick="window.location.href='http://localhost:8080/CrudWed_1VAProgIII/CadastroServelet'" />
	</center>

</body>
</html>